/* GOOGLE FONTS */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');


/* GLOBAL */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#f8f4ef;
    font-family:'Poppins',sans-serif;
    color:#3d2415;
    margin: 0%;
}
main{
    width: 100%;
    max-width: 1600px;
    margin: auto;
}


/* TOP BAR */

.top-bar{
    width:100%;
    background:#f2ebe4;

    padding:12px 7%;

    display:flex;
    justify-content:space-between;
    align-items:center;

    font-size:14px;
    color:#6d5647;
}

.top-right{
    display:flex;
    align-items:center;
    gap:25px;
}

.social-icons{
    display:flex;
    gap:15px;
}

.social-icons i{
    cursor:pointer;
    transition:0.3s;
}

.social-icons i:hover{
    color:#b77b42;
}


/* HEADER */

header{
    width:100%;
    background:white;

    padding:20px 7%;

    display:flex;
    justify-content:space-between;
    align-items:center;

    box-shadow:0 2px 10px rgba(0,0,0,0.03);
    position: sticky;
    top: -30px;
    z-index:2;
}


/* LOGO */

.logo{
    display:flex;
    align-items:center;
    gap:12px;
}

#i{
    height: 140px;
    width: 140px;
    border-radius: 50%;
    background-image: url(images/logo.png);
    background-size:cover;
    /* background-color:hsl(33, 85%, 97%); */
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo h1{
    font-size:38px;
    font-family:'Playfair Display',serif;
    line-height:1;
}

.logo p{
    font-size:11px;
    letter-spacing:4px;
    text-transform:uppercase;
    color:#7c6556;
}
.logo h1:hover{
    color: hwb(31 25% 42%);
}
.logo p:hover{
    color: #b77b42;
}



/* NAVBAR */

nav{
    display:flex;
    gap:40px;
}

nav a{
    text-decoration:none;
    color:#4c3423;

    font-size:16px;
    font-weight:500;

    position:relative;
}

nav a:hover{
    color:#b77b42;

}
nav .active{
    color:hwb(28 6% 82%);
    
}

nav .active::after{

    content:"";

    position:absolute;

    width:100%;
    height:2px;

    background:hsl(29, 46%, 23%);

    left:0;
    bottom:-10px;
}


/* BUTTON */

.order-btn{

    padding:14px 28px;

    border:none;
    border-radius:10px;

    background:#5a3216;
    color:white;

    font-size:15px;
    font-weight:600;

    cursor:pointer;

    transition:0s;
}

.order-btn:hover{
    background:hsl(26, 66%, 40%);
    margin-top: -3px;
}
/*  main body */


/* hero section */
.hero{
    /* height: 70%; */
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(28, 26%, 86%)
}

.herobox{
    height:500px;
    width: 50%;
    background-color: hsl(30, 42%, 88%);

}
#herotxt{
    display: flex;
    flex-direction:column;
    justify-content:center;
    /* align-content: center;
    align-items: center; */
    padding-left: 50px;
    gap: 10px;
}
#story{
    font-family:calligraphy;
    display: flex;
}

.quotes{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
#quotes1{
    color: #3b291d;
    font-size:50px;
}
#quotes2{
    color: #b77b42;
    font-size: 40px;
}
#heroimg{
    background-image: url(images/page2hero.png);
    background-size:cover;
}
#line1{
    width:20px;
    height:3px;
    background-color: #3b291d;
}
#line{
    width:100%;
    border:2px solid #754208ef;
    display:flex;
    flex-direction: row;
}
#paragraph{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
#learn{
    background-color: hsl(25, 89%, 31%);
    color: #f0e3d3;
    width: 20%;
    height: 40px;
    font-size: medium;
    border-radius: 3px;
    margin-top: 20px;
    transition-property: all;
}
#learn:hover{
    background-color: lab(59.45% 43.91 66.86);
    color: black;
    padding-top:-4px ;
}


/* why make us special*/
/* ========================= */
/* SECTION 1 */
/* ========================= */

.bx90{
    width:100%;
    margin-bottom:70px;
    margin-top: 20px;
}

.bx91{
    display:flex;
    gap:40px;
    align-items:center;
    
}

.bx92{
    width:40%;
    height:320px;
    background:#d6c1ab;
    border-radius:10px;
    background-image: url(images/img4.jpg);
    background-size:cover;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 5px;

}
#content92{
    width:250px;
    height:60%;
    background-color: #f2e4d7;
    align-content: center;
    padding: 5px;
    border-radius: 7px;
    text-align: center;
   
   
    
}

.bx93{
    width:60%;
}

.bx93 h2{
    margin-bottom:25px;
    font-size:32px;
}

.bx94{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:25px;
}

.bx95{
    background:#fff;
    padding:18px;
    border-radius:12px;
    text-align:center;
    transition:0.3s;
}

.bx95:hover{
    transform:translateY(-5px);
}

.bx95 i{
    font-size:28px;
    color:#b67a45;
    margin-bottom:15px;
}

.bx95 h4{
    margin-bottom:10px;
    font-size:17px;
}

.bx95 p{
    font-size:13px;
    line-height:22px;
    color:#666;
}


/* ========================= */
/* BARISTA SECTION */
/* ========================= */

.bx100{
    margin-bottom:70px;
}

.bx101{
    text-align:center;
    font-size:34px;
    margin-bottom:40px;
}

.bx102{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
}

.bx103{
    background:#fff;
    padding:15px;
    border-radius:14px;
    text-align:center;
    transition:0.3s;
}

.bx103:hover{
    transform:translateY(-5px);
}

.bx104{
    width:100%;
    height:220px;
    background:#d5c1ab;
    border-radius:10px;
    margin-bottom:18px;

}

.bx103 h3{
    margin-bottom:6px;
}

.bx103 p{
    color:#777;
    font-size:14px;
    margin-bottom:14px;
}
.staff1{
       background-image: url(images/staff1.jpg);    
       background-size:contain;
}
.staff2{
       background-image: url(images/staff2.jpg);    
       background-size:contain;
}
.staff3{
       background-image: url(images/staff3.jpg);    
       background-size:contain;
}
.staff4{
       background-image: url(images/staff4.jpg);    
       background-size:contain;
}


.bx105{
    display:flex;
    justify-content:center;
    gap:12px;
}

.bx105 i{
    width:34px;
    height:34px;
    background:#f2e4d7;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    color:#9a6236;
    cursor:pointer;
    transition:0.3s;
}

.bx105 i:hover{
    background:#9a6236;
    color:#fff;
}


/* ========================= */
/* STATS */
/* ========================= */

.bx110{
    width:100%;
    background:#efe1d1;
    padding:35px;
    border-radius:18px;

    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;

    margin-bottom:70px;
}

.bx111{
    text-align:center;
}

.bx111 i{
    font-size:32px;
    color:#9a6236;
    margin-bottom:15px;
}

.bx111 h2{
    margin-bottom:8px;
    font-size:32px;
}

.bx111 p{
    color:#666;
}


/* ========================= */
/* QUOTE SECTION */
/* ========================= */

.bx120{
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:30px;
}

.bx121{
    width:260px;
    height:180px;
    background:#d6c1ab;
    border-radius:12px;
    background-image: url(images/img2.jpg);
    background-size: contain;
}

.bx122{
    flex:1;
    text-align:center;
}

.bx122 i{
    font-size:42px;
    color:#d0b29a;
    margin-bottom:20px;
}

.bx122 p{
    font-size:18px;
    line-height:34px;
    color:#4a3729;
    margin-bottom:18px;
}

.bx122 span{
    color:#9a6236;
    font-style:italic;
    font-size:18px;
}

.bx123 i{
    font-size:90px;
    color:#c79b76;
}


/* ========================= */
/* RESPONSIVE */
/* ========================= */

@media(max-width:1000px){

    .bx91{
        flex-direction:column;
    }

    .bx92,
    .bx93{
        width:100%;
    }

    .bx94{
        grid-template-columns:repeat(2,1fr);
    }

    .bx102{
        grid-template-columns:repeat(2,1fr);
    }

    .bx110{
        grid-template-columns:repeat(2,1fr);
    }

    .bx120{
        flex-direction:column;
    }

}


@media(max-width:600px){

    body{
        padding:20px;
    }

    .bx94{
        grid-template-columns:1fr;
    }

    .bx102{
        grid-template-columns:1fr;
    }

    .bx110{
        grid-template-columns:1fr;
    }

}

/* close main body */

/* MAIN FOOTER */
.f91x{
    width:100%;
    background:#f6f0e7;
    border-top:1px solid #e7dccd;
}

/* TOP AREA */
.n44v{
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 70px;
    border-bottom:1px solid #e7dccd;
    flex-wrap:wrap;
    gap:20px;
}

/* LEFT TEXT */
.q11a{
    display:flex;
    align-items:center;
    gap:18px;
}

.w22s{
    width:65px;
    height:65px;
    border-radius:50%;
    background:#f3e7d7;
    display:flex;
    justify-content:center;
    align-items:center;
}

.w22s i{
    font-size:30px;
    color:#8b5e34;
}

.e33d h2{
    font-size:33px;
    color:#3b291d;
    margin-bottom:6px;
}

.e33d p{
    color:#6b5a4b;
    font-size:15px;
}

/* INPUT */
.r55f{
    display:flex;
    align-items:center;
    width:430px;
    background:#fff;
    border-radius:6px;
    overflow:hidden;
    border:1px solid #e6d8c8;
}

.r55f input{
    width:100%;
    padding:15px;
    border:none;
    outline:none;
    background:none;
    font-size:14px;
}

.r55f button{
    padding:15px 28px;
    border:none;
    background:linear-gradient(to right,#5a2d0c,#8b5e34);
    color:#fff;
    cursor:pointer;
    font-weight:bold;
}

/* IMAGE */
.t77g img{
    width:220px;
}

/* BOTTOM FOOTER */
.y88h{
    width:100%;
    display:flex;
    justify-content:space-between;
    padding:45px 70px;
    flex-wrap:wrap;
    gap:40px;
}

/* LOGO */
.u12j{
    max-width:250px;
}

.mug{
    display:flex;
    align-items:center;
    gap:12px;
    margin-bottom:15px;
}

.mug i{
    font-size:34px;
    color:#5a2d0c;
}

.mug h3{
    font-size:32px;
    color:#3b291d;
}

.mug span{
    font-size:12px;
    letter-spacing:3px;
    color:#7c6856;
}

.u12j p{
    color:#6b5a4b;
    line-height:1.7;
}

/* LINKS */
.o90l,
.p66m,
.a77n,
.s45b{
    display:flex;
    flex-direction:column;
    gap:12px;
}

.o90l h4,
.p66m h4,
.a77n h4,
.s45b h4{
    color:#3b291d;
    margin-bottom:10px;
    font-size:20px;
}

.o90l a,
.p66m a{
    text-decoration:none;
    color:#6b5a4b;
    transition:0.3s;
}

.o90l a:hover,
.p66m a:hover{
    color:#8b5e34;
}

/* CONTACT */
.a77n p{
    color:#6b5a4b;
    line-height:1.8;
}

.a77n i{
    color:#8b5e34;
    margin-right:8px;
}

/* SOCIAL */
.d54c{
    display:flex;
    gap:12px;
}

.d54c a{
    width:38px;
    height:38px;
    border-radius:50%;
    background:#f0e3d3;
    display:flex;
    justify-content:center;
    align-items:center;
    text-decoration:none;
    color:#5a2d0c;
    transition:0.3s;
}

.d54c a:hover{
    background:#8b5e34;
    color:#fff;
}

/* COPYRIGHT */
.g87z{
    width:100%;
    text-align:center;
    padding:18px;
    border-top:1px solid #e7dccd;
    color:#6b5a4b;
    font-size:14px;
}

/* RESPONSIVE */
@media(max-width:1000px){

    .n44v,
    .y88h{
        padding:35px;
    }

    .n44v{
        flex-direction:column;
        align-items:flex-start;
    }
}

@media(max-width:700px){

    .r55f{
        width:100%;
    }

    .r55f button{
        padding:15px 18px;
    }

    .e33d h2{
        font-size:26px;
    }

    .y88h{
        flex-direction:column;
    }

    .t77g img{
        width:170px;
    }
}
